@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #ff7f50;
  font-family: 'Lacquer';
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress {
  background-color: #3498db;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.progress-container::before {
  content: ' ';
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.circle {
  background-color: #fff;
  border-radius: 50%;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #e0e0e0;
  font-size: 14px;
  height: 50px;
  width: 50px;
  transition: 0.4s ease;
}

.circle.active {
  border-color: #3498db;
  color: #111;
}

.content {
  display: none;
}
.content.isActive {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px;
}

.btn {
  background-color: #3498db;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  padding: 8px 30px;
  margin: 5px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.btn:focus {
  outline: none;
}
